This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

*Note*: Use a `.env` file and put your key in there and `python-dotenv` to access it in this notebook. 

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a `.env-example` file in this repository to illusrtate what you need. Copy that to a file called `.env` and use your own api key in that `.env` file. Make sure you also have a `.gitignore` file with a line for `.env` added to it. 

The standard Python gitignore is [here](https://github.com/github/gitignore/blob/master/Python.gitignore) you can just copy that.

In [1]:
# get api key from your .env file
import os
from dotenv import load_dotenv
from pathlib import Path

load_dotenv()
API_KEY = os.getenv('NASDAQ_API_KEY')
test = os.getenv('TEST')
# print(API_KEY)
# print(test)

Nasdaq Data has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Nasdaq Data API instructions here: https://docs.data.nasdaq.com/docs/in-depth-usage

While there is a dedicated Python package for connecting to the Nasdaq API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import json

Note: API's can change a bit with each version, for this exercise it is reccomended to use the nasdaq api at `https://data.nasdaq.com/api/v3/`. This is the same api as what used to be quandl so `https://www.quandl.com/api/v3/` should work too.

Hint: We are looking for the `AFX_X` data on the `datasets/FSE/` dataset.

In [3]:
# Now, call the Nasdaq API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
#   'start_date': '2021-01-03',
#   'end_date': '2020-12-01',
nasdaq_api = 'https://data.nasdaq.com/api/v3/'
end_date = '2022-08-25'
start_date = '2022-08-25'
ticker = 'AFX_X'
dset = 'datasets/FSE/'
url = f'{nasdaq_api}{dset}{ticker}.json?start_date={start_date}&end_date={end_date}&api_key={API_KEY}'
json_1day = requests.get(url).json()
json_1day

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2020-12-01T14:48:09.907Z',
  'newest_available_date': '2020-12-01',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2022-08-25',
  'end_date': '2020-12-01',
  'data': [],
  'collapse': None,
  'order': None,
  'database_id': 6129}}

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [5]:
# 1 Collect data from FSE, AFX_X ticker for the entire year 2017
start_date_2017 = '2016-12-31'
end_date_2017 = '2017-12-31'
# ticker = 'AFX_X'
# dset = 'datasets/FSE/'
url_2017 = f'{nasdaq_api}{dset}{ticker}.json?start_date={start_date_2017}&end_date={end_date_2017}&api_key={API_KEY}'
json_2017 = requests.get(url_2017).json()
# json_1day

In [6]:
# 2 Convert JSON object into a python dictionary
dict_2017 = dict(json_2017)

In [7]:
dict_2017["dataset"]["data"][-3:]

[['2017-01-04',
  35.48,
  35.51,
  34.75,
  35.19,
  None,
  54408.0,
  1906810.0,
  None,
  None,
  None],
 ['2017-01-03',
  35.9,
  35.93,
  35.34,
  35.48,
  None,
  70618.0,
  2515473.0,
  None,
  None,
  None],
 ['2017-01-02',
  34.99,
  35.94,
  34.99,
  35.8,
  None,
  44700.0,
  1590561.0,
  None,
  None,
  None]]

In [8]:
import pandas as pd
df = pd.DataFrame(json_2017['dataset']['data'])

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [10]:
df.columns = json_2017['dataset']['column_names']

In [11]:
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [12]:
# 3 Calculate the highest and lowest opening prices in the period
highest_2017_open = df.Open.max()
lowest_2017_open = df.Open.min()
print('Highest and lowest opening prices in 2017: ' + str(highest_2017_open) + " and " + str(lowest_2017_open))

Highest and lowest opening prices in 2017: 53.11 and 34.0

In [13]:
# 3 Calculate the highest and lowest opening prices in the period without Pandas
# (instructions imply median will need a home-made function...maybe we're not supposed to use pd)
opens = [data[1] for data in dict_2017['dataset']['data'] if data[1] !=None]

hi_2017_open = max(opens)
lo_2017_open = min(opens)

print('Highest and lowest opening prices in 2017, calculated without pds: ' + str(hi_2017_open) + " and " + str(lo_2017_open))

Highest and lowest opening prices in 2017, calculated without pds: 53.11 and 34.0

In [14]:
# 4 Largest change in one day based on high and low
df['Delta'] = df.High - df.Low
highest_2017_change = df.Delta.max()
print('Highest change in one day in 2017: ' + str(highest_2017_change))

Highest change in one day in 2017: 2.8100000000000023

In [15]:
#...another way...
deltas = [data[2] - data[3] for data in dict_2017['dataset']['data'] if ((data[2] != None) and (data[3] !=None))]
print(max(deltas))

2.8100000000000023

In [16]:
# 5 largest change between any two days (based on Closing Price)
highest_24h_close_diff = df.Close.diff().max()
print('Largest change between any two days in 2017: ' + str(highest_24h_close_diff))

Largest change between any two days in 2017: 2.559999999999995

In [17]:
# sanity check
df.Close.diff()

0       NaN
1     -0.16
2      0.22
3     -0.50
4      0.08
       ...
250    0.37
251    0.02
252    0.13
253    0.29
254    0.32
Name: Close, Length: 255, dtype: float64

In [18]:
#...another way...
close_yesterday = [data[4] for data in dict_2017['dataset']['data']]
close_today = close_yesterday[1:]
close_diff = [close_today[idx] - close_yesterday[idx] for idx,val in enumerate(close_today)]

print(max(close_diff[:-1]))

2.559999999999995

In [19]:
# largest negative change between any two days (based on Closing Price)
highest_24h_close_diff = df.Close.diff().min()
print('Largest drop between any two days in 2017: ' + str(highest_24h_close_diff))

Largest drop between any two days in 2017: -1.7199999999999989

In [20]:
# 6 What was the average daily trading volume during this year?
print('Average daily trading volume in 2017: ' + str(df['Traded Volume'].mean()))

Average daily trading volume in 2017: 89124.33725490196

In [21]:
#...another way...
volume = [data[6] for data in dict_2017['dataset']['data']]
print('Average daily trading volume in 2017: ' + str(sum(volume)/len(volume)))

Average daily trading volume in 2017: 89124.33725490196

In [22]:
# 7 (Optional) What was the median trading volume during this year. 
# (Note: you may need to implement your own function for calculating the median.)
print('Median daily trading volume in 2017: ' + str(df['Traded Volume'].median()))

Median daily trading volume in 2017: 76286.0